/* .container {
  display: flex;
  justify-content: space-between;
}

.header {
  display: inline;
}

.input-field {
  display: block;
  margin-top: 15px;
}

ul {
  list-style-type: none;
  padding: 10px;
  border: 1px solid;
}

.scores {
  padding-left: 5px;
} */
