.container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.page-header {
  text-align: center;
  font-size: 35px;
}

.header {
  display: inline;
}

.input-field {
  display: block;
  margin-top: 15px;
}

h2 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 10px;
  border: 1px solid;
}

.scores {
  padding-right: 50px;
}

.refresh {
  margin-left: 10px;
}

.submit {
  display: flex;
  justify-content: end;
}
